html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #E9C2C1;
  color: #915EAB;
  font-family: Arial, Helvetica, sans-serif;
  }

a{
  text-decoration: none;
  color: #915EAB;
}

.header {
  background-color: #F9E6E2;
  text-align: center;
  padding: 20px;
}









/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #E9C2C1;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #915EAB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #F9E6E2;
  color: #915EAB;
}